<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumokoin.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.sumokoin.wallet.XmrWalletApplication"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name="com.sumokoin.wallet.WalletActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/wallet_activity_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sumokoin.wallet.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sumokoin.wallet.service.WalletService"
            android:description="@string/service_description"
            android:exported="false"
            android:label="Sumokoin Wallet Service" />

    </application>

</manifest>